/* GLOBAL */

body {
    background-color: #f6e6cf;
    font-family: Palatino Linotype, serif, sans-serif;
    color: #503832;
    font-size: 20px;
    line-height: 1.5em;
    max-width: 900px;
    margin: 25px auto;
    padding: 0 12px;
}

/* TYPOGRAPHY */

h1, h2, h3 {
    font-weight: 600;
    line-height: 1em;
}

h1 {
    font-size: 2.2em;
}

h2 {
    font-size: 1.8em;
}

h3 {
    font-size: 1.5em;
}

a {
    color: #503832;
}

code {
    font-family: monospace, Courier New, sans-serif;
    font-size: 18px;
}

/* LAYOUT */

header {
    font-size: 1.5em;
    padding: 30px 20px;
    border: 3px #503832 double;
}

main {
    margin-top: 20px;
    padding: 5px 20px;
    border: 3px #503832 double;
}

ul, ol {
    padding-left: 35px;
}

footer {
    margin-top: 25px;
    padding: 20px;
    border: 3px #503832 double;
    font-size: 15px;
    line-height: 1em;
}

/* ENHANCEMENTS */

.essentials {
    margin-top: -10px;
    font-size: 0.75em;
}

.postmeta {
    margin-top: -10px;
    padding-bottom: 10px;
    font-size: 0.75em;
    border-bottom: 3px #503832 double;
}

.quotes {
    padding-left: 15px;
    border-left: 3px #503832 double;
    font-style: italic;
}

p:target:not(#top) {
    background-color: #ffd6a5;
}
